li { list-style-type: none; }

body {
  background-color: #222831;
}

.form-wrapper {
  background-color: #fff;
  margin: 50px auto 50px;
  font-family: 'Montserrat';
  font-size: 1.09em;
  max-width: 400px;
}

@media screen and (min-width : 990px) {
    .form-wrapper {
      width: 100%;
    }
}
@media screen and (min-width : 420px) {
  .form-wrapper {
    transform: scale(0.9)
  }
}

a:active {text-decoration: none;}

a:hover {text-decoration: none;}

.form-wrapper p { font-size: .8em; text-align: center; font-weight: 600; }
.form-control:focus { box-shadow: none; }
.form-wrapper {
  border-radius: 5px;
  padding: 25px 15px 0px 15px;
}
.form-wrapper.auth .form-title { color: #222831; }
.home-wrapper button,
.form-wrapper.auth button {
  background: #222831;
  color: white;
}
.home-wrapper {
  margin-top: 150px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #222831;
}

.form-title {
  font-weight: 700; text-transform: uppercase; margin-bottom: 30px;
}

.form-group { font-weight: 700; text-transform: uppercase;
}
